@page "/register"

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div style="height: 57px; align-items: center; display: flex; justify-content: center; font-size: 35px;" class="card-header bg-primary text-white">CREATE NEW ACCOUNT</div>
                <div class="card-body">
                    <form action="#" method="POST">
                        <div class="form-group">
                            <label for="name">First Name</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Last Name</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">Confirm Password</label>
                            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                        </div>
                        <div>
                            <button style="width: 120px; margin: 20px 0 20px 0;" type="submit" class="btn btn-primary mt-4">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@code{
    public List<Register> registers = new();
}