
@page "/products"

@inject HttpClient httpClient

<PageTitle>Ecommerce | Products</PageTitle>

<style>
    .sidebar {
        width: 300px;
        height: 100%;
        background-color: white;
        color: black !important;
        padding-right: 20px;
    }
    
    .menu-item{
        background: #84e0eb;
    }
    .menu-item b{
        padding-left: 10px;
    }

    .item{
        list-style-type: none;
        padding: 5px 0 5px 20px;
    }

    .item:hover {
        background: rgb(154, 234, 243);
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .btn--add-cart:hover{
        background-color: #8e9496 !important;
        transition: background-color 0.5s;
    }

    .cat-item .cat-img img,
    .product-item .product-img img {
        transition: .5s;
    }

    .cat-item:hover .cat-img img,
    .product-item:hover .product-img img {
        transform: scale(1.2);
    }

    .product-item .btn:hover {
        color: #D19C97 !important;
    }

    .back-to-top {
        position: fixed;
        display: none;
        right: 30px;
        bottom: 30px;
        z-index: 11;
        animation: action 1s infinite alternate;
        background: none;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background: #84e0eb;
    }

    @* .btn {
        display: inline-block;
        font-weight: 400;
        color: #6F6F6F;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }    *@
</style>

<div class="px-xl-5">
    <div class="d-flex" style="justify-content: space-between; align-items: center; height: 50px;">
        <div style="color: #008cba;">
            <div><a style="text-decoration: none;" href="/">Home</a> &gt; <a style="text-decoration: none;" href="/products">Products</a></div>
        </div>
        <div style="">
            <button
                style="border: 1px solid black; border-radius: none; background-color: white; color: blacka; margin-right: 5px;">1</button>
            <button
                style="border: 1px solid black; border-radius: none; background-color: white; color: blacka; margin-right: 5px;">2</button>
            <button
                style="border: 1px solid black; border-radius: none; background-color: white; color: blacka; margin-right: 5px;">3</button>
        </div> 
    </div>
    <div class="d-flex">
        <div class="col-md-3 sidebar" style="color: #e1f2f5; font-size: 16px;">
                <!-- Price Start -->
                <div class="border-bottom mb-4 pb-4">
                    <h5 style="color: #1C1C1C;" class="mb-4">Filter by price</h5>
                    <form>
                        <div class="d-flex align-items-center mb-3">
                            <input type="checkbox" style="margin-right: 10px;" class="custom-control-input" checked id="price-all">
                            <label class="" for="price-all">All Price</label>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <input type="checkbox" style="margin-right: 10px;" class="custom-control-input" id="price-1">
                            <label class="custom-control-label" for="price-1">$0 - $100</label>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <input type="checkbox" style="margin-right: 10px;" class="custom-control-input" id="price-2">
                            <label class="custom-control-label" for="price-2">$100 - $200</label>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <input type="checkbox" style="margin-right: 10px;" class="custom-control-input" id="price-3">
                            <label class="custom-control-label" for="price-3">$200 - $300</label>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <input type="checkbox" style="margin-right: 10px;" class="custom-control-input" id="price-4">
                            <label class="custom-control-label" for="price-4">$300 - $400</label>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <input type="checkbox" style="margin-right: 10px;" class="custom-control-input" id="price-5">
                            <label class="custom-control-label" for="price-5">$400 - $500</label>
                        </div>
                    </form>
                </div>
                <!-- Price End -->
                
                <!-- Color Start -->
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">Filter by color</h5>
                    <form>
                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" style="margin-right: 10px;" class="custom-control-input" checked id="color-all">
                            <label class="custom-control-label" for="price-all">All Color</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center mb-3">
                            <input type="checkbox" style="margin-right: 10px;" class="custom-control-input" id="color-1">
                            <label class="custom-control-label" for="color-1">Black</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center mb-3">
                            <input type="checkbox" style="margin-right: 10px;" class="custom-control-input" id="color-2">
                            <label class="custom-control-label" for="color-2">White</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center mb-3">
                            <input type="checkbox" style="margin-right: 10px;" class="custom-control-input" id="color-3">
                            <label class="custom-control-label" for="color-3">Red</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center mb-3">
                            <input type="checkbox" style="margin-right: 10px;" class="custom-control-input" id="color-4">
                            <label class="custom-control-label" for="color-4">Blue</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center">
                            <input type="checkbox" style="margin-right: 10px;" class="custom-control-input" id="color-5">
                            <label class="custom-control-label" for="color-5">Green</label>
                        </div>
                    </form>
                </div>
                <!-- Color End -->

                <!-- Size Start -->
                <div class="mb-5">
                    <h5 class="font-weight-semi-bold mb-4">Filter by size</h5>
                    <form>
                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" style="margin-right: 10px;" class="custom-control-input" checked id="size-all">
                            <label class="custom-control-label" for="size-all">All Size</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center mb-3">
                            <input type="checkbox" style="margin-right: 10px;" class="custom-control-input" id="size-1">
                            <label class="custom-control-label" for="size-1">XS</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center mb-3">
                            <input type="checkbox" style="margin-right: 10px;" class="custom-control-input" id="size-2">
                            <label class="custom-control-label" for="size-2">S</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center mb-3">
                            <input type="checkbox" style="margin-right: 10px;" class="custom-control-input" id="size-3">
                            <label class="custom-control-label" for="size-3">M</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center mb-3">
                            <input type="checkbox" style="margin-right: 10px;" class="custom-control-input" id="size-4">
                            <label class="custom-control-label" for="size-4">L</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center">
                            <input type="checkbox" style="margin-right: 10px;" class="custom-control-input" id="size-5">
                            <label class="custom-control-label" for="size-5">XL</label>
                        </div>
                    </form>
                </div>
                <!-- Size End -->
        </div>
        <div class="col-md">
            <div class="row px-xl-5 pb-3">
                    
                @foreach (var product in products)
                {
                    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                        <div class="card product-item border-0 mb-4">
                            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                <img style="height: 400px;" class="w-100" src="@product.Img" alt="">
                            </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                <h6 style="margin-bottom: 0.5rem; font-weight: 500; line-height: 1.2; color: #1C1C1C;" class="text-truncate mb-3">@product.Name</h6>
                                <div class="d-flex justify-content-center">
                                    <h6 style="margin-bottom: 0.5rem; font-weight: 500; line-height: 1.2; color: #1C1C1C;">$@product.Price</h6><h6 style="margin-left: 5px; color: #6c757d !important;"><del>$123.00</del></h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <a href="/products/@product.ID" class="btn btn-sm text-dark p-0"><i class="fa-solid fa-eye mr-1" style="margin-right: 5px;"></i>View Detail</a>
                                <a href="products/@product.ID" class="btn btn-sm text-dark p-0"><i class="fa-solid fa-cart-plus mr-1" style="margin-right: 5px;"></i>Add To Cart</a>
                            </div>
                        </div>
                    </div>
                } 
                </div>
            </div>
    </div>
    <div class="px-xl-5" style="background: #7bdfec; height: 100%; color: #e1f2f5;">
        <h2>Title</h2>
        <p>Content 1</p>
        <p>Content 2</p>
        <p>Content 3</p>
        <p>Content 4</p>
    </div>
</div>

<!-- Back to Top -->
<a href="/products" class="back-to-top"><i class="fa-solid fa-arrow-up"></i></a>

@code
{
    private List<Product> products = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var list = await httpClient.GetFromJsonAsync<List<Product>?>("Products");
            if (list != null)
            {
                products = list;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    } 
}
