@using Ecommerce.Shared
@inherits LayoutComponentBase

<TopBar></TopBar>
<NavBar></NavBar>
@Body


<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

<Footer></Footer>