@inherits LayoutComponentBase

@* Top bar *@
<div class="container-fluid">
    <div class="row bg-secondary py-2 px-xl-5">
        <div class="col-lg-6 d-none d-lg-block">
            <div class="d-inline-flex align-items-center">
                <a class="nav-link" href="">FAQs</a>
                <span class="text-muted px-2">|</span>
                <a class="nav-link" href="">Help</a>
                <span class="text-muted px-2">|</span>
                <a class="nav-link" href="">Support</a>
            </div>
        </div>
        <div class="col-lg-6 text-center text-lg-end">
            <div class="d-inline-flex align-items-center">
                <a class="nav-link" href="/login">Login</a>
                <span class="text-muted px-2">|</span>
                <a class="nav-link" href="/register">Register</a>
            </div>
        </div>
    </div>
    <div class="row align-items-center py-3 px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a href="" class="text-decoration-none">
                <h1 class="m-0 display-5 fw-semi-bold"><span
                        class="text-bg-primary fw-bold border px-3 mr-1">E</span>Shopper</h1>
            </a>
        </div>
        <div class="col-lg-6 col-6 text-start">
            <form action="">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for products">
                    <div class="input-group-append">
                        <span class="input-group-text bg-transparent text-primary" style="cursor: pointer;">
                            <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-6 text-end">
            <a href="" class="btn border">
                <i class="fa-solid fa-heart text-primary"></i>
                <span class="badge text-primary fw-bold">0</span>
            </a>
            <a href="/cart" class="btn border">
                <i class="fa-solid fa-cart-shopping text-primary"></i>
                <span class="badge text-primary fw-bold">0</span>
            </a>
        </div>
    </div>
</div>

@* Category bar *@
<div class="container-fluid">
    <div class="row border-top px-xl-5 bg-primary mt-3 py-3">
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg py-3 py-lg-0 px-0">
                @foreach (var item in CateNavItems)
                {
                    <a href="@item.Link" class="text-decoration-none text-white me-3 fw-bold">
                        @item.Name
                    </a>
                }
            </nav>
        </div>
    </div>
</div>

@Body

@* Footer *@
<div class="container-fluid bg-secondary text-dark mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <a href="" class="text-decoration-none">
                <h1 class="mb-4 display-5 fw-semi-bold"><span
                        class="text-bg-primary fw-bold border border-white px-3 me-1">E</span>Shopper</h1>
            </a>
            <p>Dolore erat dolor sit lorem vero amet. Sed sit lorem magna, ipsum no sit erat lorem et magna ipsum dolore
                amet erat.</p>
            <p class="mb-2"><i class="fa-solid fa-map-pin text-primary me-3"></i>123 Street, New York, USA</p>
            <p class="mb-2"><i class="fa-solid fa-envelope text-primary me-3"></i>info@example.com</p>
            <p class="mb-0"><i class="fa-solid fa-phone text-primary me-3"></i>+012 345 67890</p>
            <div class="d-flex mt-2">
                <a class="text-dark me-3 fs-4" href="https://www.facebook.com/">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a class="text-dark me-3 fs-4" href="https://twitter.com/">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a class="text-dark me-3 fs-4" href="https://www.linkedin.com/">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a class="text-dark me-3 fs-4" href="https://www.instagram.com/">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a class="text-dark me-3 fs-4" href="https://www.youtube.com/">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h5 class="fw-bold text-dark mb-4">Company</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-dark mb-2" href="/about-us">
                            <i class="fa-solid fa-angle-right me-2"></i>About
                        </a>
                        <a class="text-dark mb-2" href="/about-us">
                            <i class="fa-solid fa-angle-right me-2"></i>Partners
                        </a>
                        <a class="text-dark mb-2" href="/about-us">
                            <i class="fa-solid fa-angle-right me-2"></i>Customers
                        </a>
                        <a class="text-dark mb-2" href="/about-us">
                            <i class="fa-solid fa-angle-right me-2"></i>Careers
                        </a>
                        <a class="text-dark" href="/contact-us">
                            <i class="fa-solid fa-angle-right me-2"></i>Our Blog
                        </a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="fw-bold text-dark mb-4">Customers care</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-dark mb-2" href="/about-us">
                            <i class="fa-solid fa-angle-right me-2"></i>Returns & Exchanges
                        </a>
                        <a class="text-dark mb-2" href="/about-us">
                            <i class="fa-solid fa-angle-right me-2"></i>Store locator
                        </a>
                        <a class="text-dark mb-2" href="/about-us">
                            <i class="fa-solid fa-angle-right me-2"></i>Shipping information
                        </a>
                        <a class="text-dark mb-2" href="/about-us">
                            <i class="fa-solid fa-angle-right me-2"></i>Tracking order
                        </a>
                        <a class="text-dark" href="/contact-us">
                            <i class="fa-solid fa-angle-right me-2"></i>Contact Us
                        </a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="fw-bold text-dark mb-4">Newsletter</h5>
                    <form action="">
                        <div class="mb-3">
                            <input type="text" class="form-control border-0 py-2" placeholder="Your Name"
                                required="required" />
                        </div>
                        <div class="mb-3">
                            <input type="email" class="form-control border-0 py-2" placeholder="Your Email"
                                required="required" />
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary border-0 py-2" type="submit">Subscribe Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row border-top border-light mx-xl-5 py-4">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-start text-dark">
                &copy; <a class="text-dark fw-semi-bold" href="/">Your Site Name</a>. All Rights Reserved.
            </p>
        </div>
        <div class="col-md-6 px-xl-0 text-center text-md-end">
            <img class="img-fluid" src="images/payments.png" alt="">
        </div>
    </div>
</div>

@* <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a> *@

@code {
    private CateNavItem[] CateNavItems = {
new CateNavItem { Link = "/", Name="Dresses" },
new CateNavItem { Link = "/", Name="Shirts" },
new CateNavItem { Link = "/", Name="Jeans" },
new CateNavItem { Link = "/", Name="Swimwear" },
new CateNavItem { Link = "/", Name="Sleepwear" },
new CateNavItem { Link = "/", Name="Sportswear" },
new CateNavItem { Link = "/", Name="Jumpsuits" },
new CateNavItem { Link = "/", Name="Blazers" },
new CateNavItem { Link = "/", Name="Jackets" },
new CateNavItem { Link = "/", Name="Shoes" }
};
}